
#header{
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 85px;
}

#form{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.btn{
    position: absolute;
    left: 105px;
    top: -8px;
  background-color: transparent;
    color: white;
    position: relative;
    bottom: 49px;
    padding: 0.4rem;
    width: 70px;
}

#tdform{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

#title{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
}

#taske{
    left: 100px;
    color: antiquewhite;
    background-color: transparent;
    padding: 2rem;
    position: relative;
    resize: both;
    overflow: hidden;
    font-weight: 700;
    width: 90vh;
}

.outputs{ 
    width: 80vh;
    border: 1px white solid;
    width: 700px;
    border-radius: 10%;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    font-weight: 700;
}

#rembtn{
    position: relative;
    left: 70px;
   padding: 10px;
   border-bottom: 2px solid;
   color: white;
   background-color: transparent;
}

#edbtn{
    position: relative;
    left: 40px;
   padding: 10px;
   border-bottom: 2px solid;
   color: white;
}

#subby{
    position: relative;
    color: gray;
    background-color: transparent;
    top: 50px;
    left: 250px;
}

#password{
    color: gray;
    background-color: transparent;
}

#email{
    color: gray;
    background-color: transparent;
}

#wordDo{
    color: green;
}

.bgVid{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
      }

#emailThing{
    color: green;
        position: relative;
        left: 110px;
        font-size: 30px;
      }

#passThing{
    color: green;
    position: relative;
    left: 120px;
    font-size: 30px;
}

#loginWrd{
    position: relative;
    top: 22px;
    left: 260px;
    font-size: 15px;
}

#logoutbtn{
    position: relative;
    background-color: transparent;
    left: 200px;
    bottom: 250px;
}

#taskTitle{
    position: relative;
    left: 390px;
    color: gray;
}